{% extends "base.html" %}

{% block title %}
    <title>Smansa Genteng home</title>
{% endblock %}
{% block content %}
  <style>
    ul {
        padding: 0px 0px 0px 50px;
    }
  </style>

  <div class="row">
    <div class="column side">
        <h2>Pulang Kampung</h2>
        <p>Selamat datang di rumah kita bersama</p>
    </div>
    
    <div class="column middle">
        <!--Content Start-->
        <h2>SMANSA GENTENG BANYUWANGI</h2>
        <h3>Rumah kita bersama</h3>
        <p>
            Inilah media SMANSA Genteng untuk berbagi pengalaman, tips,
            pengetahuan.
            Media ini bisa digunakan juga untuk berdiskusi terkait topik
            yang sedang diminati dan ditekuni.
            System ini dibuat web-base sehingga dilakukan akses via internet. 
            Adapun keunggulan yang diperoleh adalah :
        </p>
        <ul>
            <li>
                Mem-posting artikel
            </li>
            <li>
                Dapat dibaca secara berulang
            </li>
            <li>
                Sebagai media konsultasi
            </li>
            <li>
                Yang paling penting - Nyambung seduluran sak lawase
            </li>
        </ul><br>

        <h2>Blog - Posting Artikel</h2>
        <p>
            Setiap anggota bisa memposting/sharing artikel untuk dibaca anggota yang lain,
            selanjutnya anggota yang telah membaca bisa menuliskan komentar.
            Komentar ini bisa juga bertanya, atau pandangan/opini terkait artikel itu.
        </p>
        <ul>
            <li>
                Memposting/sharing artikel
            </li>
            <li>
                Menulis komentar
            </li>
            <li>
                Bertanya atau diskusi
            </li>
        </ul>

    </div>

    <div class="column side">
        <h2>Berbagi Kebaikan</h2>
        <p>
            Marilah bersemangat untuk berbagi kebaikan, walau sekedar menulis.
            Berbagi tak pernah rugi.
        </p>
    </div>
  </div>    

{% endblock %}
