* {
    padding: 5px;
}
.topnav {
    overflow: hidden;
    background-color: rgb(16, 3, 133);
  }
  
  .topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(16, 3, 133);
  }
  
  .topnav ul li {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
  }
                
  .topnav ul li a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav ul li a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav ul li a.active {
    background-color: #4CAF50;
    color: white;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(16, 3, 133);
    color: white;
    text-align: right;
 }

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

/* style for user guide - help*/

* {
    box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 20%;
}

/* Middle column */
.column.middle {
    width: 60%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}


/*Style for general tables*/
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

caption {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    caption-side: top;
    text-align: left;
    letter-spacing: 1px;
}
    
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}

th {
    letter-spacing: 2px;
}
    
td {
    letter-spacing: 1px;
}

thead th {
    background-color: #dddddd;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
    
/* Style for Work Order Header*/    
table.WoHeader {
    font-family: arial, sans-serif;
}
    
table.WoHeader thead th:nth-child(1) {
    width: 15%;
}
      
/*table.WoHeader thead th:nth-child(2) - remaining width*/
      
/* Style for Work Order Summary*/    
table.WoSummary {
    font-family: arial, sans-serif;
}
    
table.WoSummary thead th:nth-child(1) {
    width: 25%;
}
      
/*table.WoSummary thead th:nth-child(2) - remaining width*/

/* Style for Work Order Form*/    
table.WoForm {
    font-family: arial, sans-serif;
}
    
table.WoForm thead th:nth-child(1) {
    width: 15%;
}
      
/*table.WoForm thead th:nth-child(2) - remaining width*/

/* Style for Work Order History*/    
table.WoHistory {
    font-family: arial, sans-serif;
}

/*Date col header*/
table.WoHistory thead th:nth-child(1) {
        width: 15%;
}
      
/*Date col time*/
table.WoHistory thead th:nth-child(2) {
    width: 10%;
}
      
/*Date col PIC*/
table.WoHistory thead th:nth-child(3) {
    width: 10%;
}
      
/*Date col comment - remaining width*/


/* Style for Work Order Completion*/    
table.WoCompletion {
    font-family: arial, sans-serif;
}

/*col 1*/
table.WoCompletion tbody th:nth-child(1) {
        width: 50%;
}
      
/*col 2*/
table.WoCompletion tbody th:nth-child(2) {
    width: 20%;
}
            
table.WoCompletion tbody td {
    height: 100px;
}
/*Date col comment - remaining width*/

